- name: "Install PostgreSQL and relate packages"
  include_role:
    name: 3trains_fastpackages
  vars:
    packages_list: "{{ pgsql.packages_list }}"

- stat:
    path: "{{ pgsql.pgdata }}/pg_hba.conf"
  register: pgdata_init

- name: "Init PostgesQL Db"
  command:
    cmd: /usr/bin/postgresql-setup initdb
    creates: /var/lib/pgsql/initdb.log
  register: datadir_init
  when:
    - pgdata_init is defined
    - pgdata_init.stat is defined
    - not pgdata_init.stat.exists

- name: "Ensure PostgreSQL accept connection from app servers"
  template:
    src: pg_hba.conf
    dest: /var/lib/pgsql/data/pg_hba.conf
    owner: postgres
    group: postgres
    mode: 0600
  notify:
    - restart postgres

- name: "Ensure PostgreSQL accept remote connection"
  template:
    src: postgresql.conf
    dest: /var/lib/pgsql/data/postgresql.conf
    owner: postgres
    group: postgres
    mode: 0600
  notify:
    - restart postgres

- name: "Ensure the PostgreSQL service is running"
  service:
    name: postgresql
    state: started
    enabled: yes
  when: datadir_init is success

- name: "Create database {{ pgsql.db.name }}"
  community.postgresql.postgresql_db:
    name: "{{ pgsql.db.name }}"
    encoding: UTF-8
    template: 'template0'

- name: "Create user for database"
  community.postgresql.postgresql_user:
    db: "{{ pgsql.db.name }}"
    name: "{{ pgsql.db.user }}"
    password: "{{ pgsql.db.user }}"
    priv: ALL
    state: present
