---
- assert:
    that:
      - wildfly is defined
      - wildfly.user is defined
      - wildfly.home is defined
      - jdbc_driver_module_dir is defined
    quiet: true

- debug:
    msg: "keycloak_flange_url: {{ keycloak_flange_url }}"
  when:
    - keycloak_flange_url is defined

- name: "Install Prerequisites"
  include_tasks: prereqs.yml

- debug:
    msg: "Workdir: {{ workdir }} Wildfly home: {{ home_default }}"

- name: "Install wildfly"
  include_role:
    name: wildfly_install
  vars:
    wildfly_user: 'wildfly'
    wildfly_install_workdir: "{{ workdir }}"
    wildfly_home: "{{ home_default }}"

- name: "Install Keycloak module"
  include_tasks: keycloak/keycloak-download.yml

- name: "Install Postresql driver"
  include_role:
    name: wildfly_driver
    tasks_from: jdbc_driver.yml
  vars:
      wildfly_user: "{{ wildfly.user }}"
      jdbc_driver_module_dir: "{{ wildfly.home }}/modules/org/postgresql/main"
      jdbc_driver_version: "{{ jdbc_driver_default_version }}"
      jdbc_driver_jar_filename: "postgresql-{{ jdbc_driver_default_version }}.jar"
      jdbc_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ jdbc_driver_default_version }}/{{ jdbc_driver_jar_filename }}"
      jdbc_driver_jar_installation_path: "{{ jdbc_driver_module_dir }}/{{ jdbc_driver_jar_filename }}"
      jdbc_driver_module_name: 'org.postgresql'

- set_fact:
    nb_instances: "{{ (nb_instance_by_node | default(2) ) }}"

- set_fact:
    nb_instances: "{{ (nb_instances | int) +1 }}"

- include_tasks: appserver.yml
  loop: "{{ range(1, (nb_instance_by_node|int + 1)) | list }}"
