---
wfly_version: '19.0.0.Final'
wildfly_version: '19.0.0.Final'
eap_version: '7.4'
wildfly_home_default: "{{ workdir }}/wildfly-{{ wfly_version }}/"
eap_home_default: "{{ workdir }}/jboss-eap-{{ eap_version }}/"
wildfly_install_workdir: "{{ wildfly_home_default if jboss_eap_rhn_id is not defined or jboss_eap_rhn_id == 'none' else eap_home_default }}"

home_default: "{{ wildfly_home_default if jboss_eap_rhn_id is not defined or jboss_eap_rhn_id == 'none' else eap_home_default }}"

sample_app_version: "{{ sample_app_version_to_deploy | default('0.0.1') }}"
gdrive_url: 'https://drive.google.com/uc?export=download&id='
apps:
  - name: kitchensink
    extension: war
    version: "0.0.1"
    url: "{{ gdrive_url }}1PfTn2zk-UVbLoPDT-xf9Z4AdkNaEfTh3"
  - name: kitchensink
    extension: war
    version: "0.0.2"
    url: "{{ gdrive_url }}1nrKPe6N7aDwilz6YIzImw1PznaYHuEDj"
  - name: info
    extension: war
    version: '1.1'
    url: "{{ gdrive_url }}1w9ss5okctnjUvRAxhPEPyC7DmbUwmbhb"
app_dir: /opt/apps/
workdir: "{{ '/opt/wildfly/' if jboss_eap_rhn_id is not defined or jboss_eap_rhn_id == 'none' else '/opt/jboss-eap/' }}"
wfly_zipfile: "wildfly-{{ wfly_version }}.zip"
wfly_download_url: "https://download.jboss.org/wildfly/{{ wfly_version }}/{{ wfly_zipfile }}"
keycloak_adapter_version: '9.0.3'
keycloak_download_url12: "https://github.com/keycloak/keycloak/releases/download/{{ keycloak_adapter_version }}/keycloak-oidc-wildfly-adapter-{{ keycloak_adapter_version }}.zip"
keycloak_download_url: "https://downloads.jboss.org/keycloak/{{ keycloak_adapter_version }}/adapters/keycloak-oidc/keycloak-wildfly-adapter-dist-{{ keycloak_adapter_version }}.tar.gz"
rhsso_adapter_version: "15.0.2"
java:
  home: "{{ override_widlfy_jvm | default('/usr/lib/jvm/java-1.8.0') }}"

disable_keycloak: False
enable_rhsso: "{{ True if jboss_eap_rhn_id is not defined else False }}"

wildfly:
  home: "{{ override_wildfly_home | default(home_default) }}"
  user: wildfly
  group: wildfly
  bind_addr: "{{ override_wildfly_bind_addr | default(ansible_nodename) }}"
  port_range_offset: -1
  config:
    base: standalone-ha.xml
    name: wfly
  basedir_prefix: /opt/wfly-
  min_mem: 64m
  max_mem: 512m
  metaspace_size: 96m
  metaspace_maxsize: 256m
postgres:
  db_name: wildfly
  user:
    name: wildfly
    password: wildfly

# can't use a structure for the jdbc_driver because of the interpolation between variables.
jdbc_driver_module_dir: "{{ wildfly.home }}//modules/org/postgresql/main"
jdbc_driver_version: 9.2-1002-jdbc4
jdbc_driver_jar_filename: "postgresql-{{ jdbc_driver_version }}.jar"
jdbc_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ jdbc_driver_version }}/{{ jdbc_driver_jar_filename }}"
jdbc_driver_jar_installation_path: "{{ jdbc_driver_module_dir }}/{{ jdbc_driver_jar_filename }}"
ansible_distribution: Fedora
jcliff_rules_dir: /usr/share/jcliff/rules
keycloak_auth_client: admin-cli
keycloak_admin_user: admin
keycloak_admin_password: "redhat1!"
keycloak_realm: flange
keycloak_url: "{{ keycloak_flange_url | default('http://keycloak-0:8080') }}"
keycloak_redirect_url: "{{ keycloak_flange_redirect_url | default('https://jbcs-0') }}"
keycloak_client: flange
keycloak_disable_trust_manager: True
