---
wildfly_version: '32.0.0.Final'
wildfly_install_workdir: '/opt/wildfly/'
wildfly_home: '{{ wildfly_install_workdir }}wildfly-{{ wildfly_version }}/'
wildfly_java_home: '/usr/lib/jvm/jre-openjdk/'
wildfly_java_package_name: java-11-openjdk-headless
wildfly_user: 'wildfly'
wildfly_group: "{{ wildfly_user }}"
wildfly_enable_yml_config: True
wildfly_yml_configs: [ wildfly_ymlconfig.yml.j2 ]
sample_app_version: "{{ '1.0.4' if rhn_username is defined and rhn_password is defined else '1.1.2' }}"
gdrive_url: 'https://drive.google.com/uc?export=download&id='
apps:
  - name: addressbook
    extension: war
    version: "{{ sample_app_version }}"
    url: "https://github.com/ansible-middleware/addressbook/releases/download/{{ sample_app_version }}/addressbook.war"
  - name: info
    extension: war
    version: '1.1'
    url: "{{ gdrive_url }}1w9ss5okctnjUvRAxhPEPyC7DmbUwmbhb"
app_dir: /opt/apps/


keycloak_adapter_version: '9.0.2'
keycloak_download_url: "https://downloads.jboss.org/keycloak/{{ keycloak_adapter_version }}/adapters/keycloak-oidc/keycloak-wildfly-adapter-dist-{{ keycloak_adapter_version }}.tar.gz"
keycloak_adapter_version12: '15.0.8'
keycloak_download_url12: "https://github.com/keycloak/keycloak/releases/download/{{ keycloak_adapter_version }}/keycloak-oidc-wildfly-adapter-{{ keycloak_adapter_version }}.zip"

java:
  home: "{{ override_wildfly_jvm | default('/usr/lib/jvm/java-11') }}"

disable_keycloak: False
enable_rhsso: True

wildfly:
  home: "{{ '/opt/wildfly/jboss-eap-7.4/' if rhn_username is defined and rhn_password is defined else '/opt/wildfly/wildfly-32.0.0.Final/' }}"
  user: wildfly
  group: wildfly
  bind_addr: "{{ override_wildfly_bind_addr | default(ansible_nodename) }}"
  port_range_offset: 0
  config:
    base: standalone-ha.xml
    name: wfly
  basedir_prefix: /opt/wfly-
  min_mem: 64m
  max_mem: 512m
  metaspace_size: 96m
  metaspace_maxsize: 256m
postgres:
  db_name: wildfly
  jndi_ds: AddressbookDS
  user:
    name: wildfly
    password: wildfly

# can't use a structure for the wildfly_driver because of the interpolation between variables.
wildfly_driver_module_dir: "{{ wildfly.home }}/modules/org/postgresql/main"
wildfly_driver_default_version: 9.4.1212
wildfly_driver_jar_filename: "postgresql-{{ wildfly_driver_default_version }}.jar"
wildfly_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ wildfly_driver_default_version }}/{{ wildfly_driver_jar_filename }}"
wildfly_driver_jar_installation_path: "{{ wildfly_driver_module_dir }}/{{ wildfly_driver_jar_filename }}"
keycloak_auth_client: admin-cli
keycloak_admin_user: admin
keycloak_admin_password: "admin_password16"
keycloak_realm: flange
keycloak_url: "{{ keycloak_flange_url | default('http://keycloak-0:8080') }}"
keycloak_redirect_url: "{{ keycloak_flange_redirect_url | default('https://jbcs-0') }}"
keycloak_client: flange
keycloak_disable_trust_manager: True

#Olympus variable
flange_firewall_enable: "{{ lookup('env', 'FLANGE_FIREWALL_ENABLE') | default(true) | bool }}"