---
wildfly_version: '26.0.1.Final'
sample_app_version: "{{ '1.0.4' if rhn_username is defined and rhn_password is defined else '1.1.2' }}"
gdrive_url: 'https://drive.google.com/uc?export=download&id='
apps:
  - name: addressbook
    extension: war
    version: "{{ sample_app_version }}"
    url: "https://github.com/ansible-middleware/addressbook/releases/download/{{ sample_app_version }}/addressbook.war"
  - name: info
    extension: war
    version: '1.1'
    url: "{{ gdrive_url }}1w9ss5okctnjUvRAxhPEPyC7DmbUwmbhb"
app_dir: /opt/apps/


keycloak_adapter_version: '9.0.3'
keycloak_download_url: "https://downloads.jboss.org/keycloak/{{ keycloak_adapter_version }}/adapters/keycloak-oidc/keycloak-wildfly-adapter-dist-{{ keycloak_adapter_version }}.tar.gz"
keycloak_adapter_version12: '15.0.2'
keycloak_download_url12: "https://github.com/keycloak/keycloak/releases/download/{{ keycloak_adapter_version }}/keycloak-oidc-wildfly-adapter-{{ keycloak_adapter_version }}.zip"

java:
  home: "{{ override_wildfly_jvm | default('/usr/lib/jvm/java-1.8.0') }}"

disable_keycloak: False
enable_rhsso: True

wildfly:
  home: "{{ '/opt/wildfly/jboss-eap-7.4/' if rhn_username is defined and rhn_password is defined else '/opt/wildfly/wildfly-26.0.1.Final/' }}"
  user: wildfly
  group: wildfly
  bind_addr: "{{ override_wildfly_bind_addr | default(ansible_nodename) }}"
  port_range_offset: 0
  config:
    base: standalone-ha.xml
    name: wfly
  basedir_prefix: /opt/wfly-
  min_mem: 64m
  max_mem: 512m
  metaspace_size: 96m
  metaspace_maxsize: 256m
postgres:
  db_name: wildfly
  jndi_ds: AddressbookDS
  user:
    name: wildfly
    password: wildfly

# can't use a structure for the jdbc_driver because of the interpolation between variables.
jdbc_driver_module_dir: "{{ wildfly.home }}/modules/org/postgresql/main"
jdbc_driver_default_version: 9.4.1212
jdbc_driver_jar_filename: "postgresql-{{ jdbc_driver_version }}.jar"
jdbc_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ jdbc_driver_version }}/{{ jdbc_driver_jar_filename }}"
jdbc_driver_jar_installation_path: "{{ jdbc_driver_module_dir }}/{{ jdbc_driver_jar_filename }}"
jcliff_rules_dir: /usr/share/jcliff/rules
keycloak_auth_client: admin-cli
keycloak_admin_user: admin
keycloak_admin_password: "redhat1!"
keycloak_realm: flange
keycloak_url: "{{ keycloak_flange_url | default('http://keycloak-0:8080') }}"
keycloak_redirect_url: "{{ keycloak_flange_redirect_url | default('https://jbcs-0') }}"
keycloak_client: flange
keycloak_disable_trust_manager: True
