# Placeholder Group
[threetrains]

# Wildfly Group
[wildfly]
127.0.0.1 ansible_connection=local ansible_python_interpreter=/usr/bin/python

# Keycloak Group
[keycloak]
127.0.0.1 ansible_connection=local ansible_python_interpreter=/usr/bin/python

[threetrains:children]
wildfly
keycloak
