---
keycloak_version: 9.0.2
keycloak_archive: keycloak-{{ keycloak_version }}.zip
keycloak_download_url: https://downloads.jboss.org/keycloak/{{
  keycloak_version }}/{{ keycloak_archive }}
keycloak_local_download_dest: '{{ "~/keycloak_download" | expanduser }}'
keycloak_installdir: "{{ keycloak_dest }}/keycloak-{{ keycloak_version }}"

keycloak_rhsso_enable: "{{ True if rhsso_rhn_id is defined else False }}"
keycloak_rhsso_client_adapter_rhn_id: '101951'
keycloak_rhsso_saml_adapter_rhn_id: '101901'
keycloak_rhsso_version: 7.5
keycloak_rhsso_archive: rh-sso-{{ keycloak_rhsso_version }}-server-dist.zip
keycloak_rhsso_installdir: "{{ keycloak_dest }}/rh-sso-{{ keycloak_rhsso_version }}"

### Install location and service settings
keycloak_dest: /opt/keycloak
keycloak_jboss_home: "{{ keycloak_rhsso_installdir if rhsso_rhn_id is defined else keycloak_installdir }}"
keycloak_config_dir: "{{ keycloak_jboss_home }}/standalone/configuration"
keycloak_service_user: keycloak
keycloak_service_group: keycloak
keycloak_service_pidfile: "{{ keycloak_dest }}/keycloak.pid"
keycloak_service_logfile: "{{ keycloak_dest }}/keycloak.log"


### Keycloak configuration settings
keycloak_bind_address: 0.0.0.0
keycloak_host: localhost
keycloak_http_port: 8080
keycloak_https_port: 8443
keycloak_management_http_port: 9990
keycloak_management_https_port: 9993

keycloak_admin_user: admin
keycloak_admin_password: "redhat1!"

keycloak_java_opts: "-Xms1024m -Xmx20480m -XX:MaxPermSize=768m"

keycloak_force_install: false

keycloak_realm: 3trains

keycloak_3trains_client_name: 3trains
keycloak_3trains_admin_role: 3trainsadmin
keycloak_3trains_user_role: 3trainsuser

# Demo App
demo_app_host: "{{ trains_app_host | default('localhost') }}"
demo_app_endpoint: "{{ train_app_endpoint | default('/kitchensink') }}"
keycloak_clients:
  - name: "{{ keycloak_3trains_client_name }}"
    roles:
      - "{{ keycloak_3trains_user_role }}"
      - "{{ keycloak_3trains_admin_role }}"
    realm: "{{ keycloak_realm }}"
    public_client: True

keycloak_auth_realm: master
keycloak_auth_client: admin-cli

keycloak_url: "http://{{ keycloak_host }}:{{ keycloak_http_port }}"
keycloak_management_url: "http://{{ keycloak_host }}:{{ keycloak_management_http_port }}"

keycloak_users:
  - username: 3trainsadmin
    password: password
    client_roles:
      - client: "{{ keycloak_3trains_client_name }}"
        role: "{{ keycloak_3trains_admin_role }}"
        realm: "{{ keycloak_realm }}"
      - client: "{{ keycloak_3trains_client_name }}"
        role: "{{ keycloak_3trains_user_role }}"
        realm: "{{ keycloak_realm }}"
  - username: 3trainsuser
    password: password
    client_roles:
      - client: "{{ keycloak_3trains_client_name }}"
        role: "{{ keycloak_3trains_user_role }}"
        realm: "{{ keycloak_realm }}"

keycloak_remotecache:
  enabled: True
  username: supervisor
  password: itsme
  realm: default
  server_name: jdg-0
  trust_store_path:
  trust_store_password: changeme

keycloak_jdbc:
  postgres:
    enabled: True
    driver_module_name: "org.postgresql"
    driver_module_dir: "{{ keycloak_jboss_home }}/modules/org/postgresql/main"
    driver_version: 9.4.1212
    driver_jar_filename: "postgresql-9.4.1212.jar"
    driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/9.4.1212/postgresql-9.4.1212.jar"
    connection_url: "jdbc:postgresql://pgsql-0:5432/keycloak"
    db_user: "keycloak-user"
    db_password: "keycloak-pass"
