WILDFLY_SERVER_CONFIG={{ instance_name }}.xml

WILDFLY_OPTS=-Djboss.server.config.dir={{ wildfly.home }}/standalone/configuration/ -Djboss.server.base.dir={{ wildfly.basedir_prefix }}{{ item }} -Djboss.tx.node.id={{ instance_name }} -Djboss.socket.binding.port-offset={{ 100 * (item - wildfly.port_range_offset) }} -Djboss.node.name={{ instance_name }}

WILDFLY_BIND={{ wildfly.bind_addr }}
WILDFLY_HOME={{ wildfly.home }}
JBOSS_PIDFILE={{ wildfly.basedir_prefix }}{{ item }}/{{ instance_name }}.pid
